<!DOCTYPE html>
<!--[if lt IE 7]>		<html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>			<html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>			<html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="">
 <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>@ViewData["Title"] - Bus Booking System</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="apple-touch-icon" href="apple-touch-icon.png">
        <link rel="stylesheet" href="~/css/bootstrap.min.css">
        <link rel="stylesheet" href="~/css/normalize.css">
        <link rel="stylesheet" href="~/css/font-awesome.min.css">
        <link rel="stylesheet" href="~/css/icomoon.css">
        <link rel="stylesheet" href="~/css/owl.carousel.css">
        <link rel="stylesheet" href="~/css/bootstrap-select.css">
        <link rel="stylesheet" href="~/css/scrollbar.css">
        <link rel="stylesheet" href="~/css/jquery.mmenu.all.css">
        <link rel="stylesheet" href="~/css/prettyPhoto.css">
        <link rel="stylesheet" href="~/css/transitions.css">
        <link rel="stylesheet" href="~/css/main.css">
        <link rel="stylesheet" href="~/css/color.css">
        <link rel="stylesheet" href="~/css/responsive.css">
        <script src="~/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
    </head>
    <body class="tg-login">
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <!--************************************
                    Loader Start
        *************************************-->
        <div class="loader">
            <div class="span">
                <div class="location_indicator"></div>
            </div>
        </div>
        <!--************************************
                    Loader End
        *************************************-->

	<!--************************************
			Wrapper Start
	*************************************-->
	<div id="tg-wrapper" class="tg-wrapper tg-haslayout">
		<!--************************************
				Header Start
		*************************************-->
		<header id="tg-header" class="tg-header tg-haslayout">
			<div class="container-fluid">
				<div class="row">
					<div class="tg-topbar">
						<nav class="tg-infonav">
							<ul>
								<li>
									<i><img src="~/images/icons/icon-01.png" alt="image destinations"></i>
									<span>1-800-321-6543</span>
								</li>
								<li>
									<i><img src="~/images/icons/icon-02.png" alt="image destinations"></i>
									<span>CHOOSE YOUR EXPERIENCE <a href="javascript:void(0);">Discover more</a></span>
								</li>
							</ul>
						</nav>
						<div class="tg-addnavcartsearch">
							<nav class="tg-addnav">
								<ul>
									<li><a href="#">about</a></li>
									<li><a href="#">contact</a></li>
								</ul>
							</nav>
						</div>
					</div>
					<div class="tg-navigationarea tg-headerfixed">
						<strong class="tg-logo"><a href="~/"><img src="~/images/logo.png" alt="company logo here"></a></strong>
						<div class="tg-socialsignin">
							<ul class="tg-socialicons">
								<li><a href="javascript:void(0);"><i class="icon-facebook-logo-outline"></i></a></li>
								<li><a href="javascript:void(0);"><i class="icon-instagram-social-outlined-logo"></i></a></li>
								<li><a href="javascript:void(0);"><i class="icon-twitter-social-outlined-logo"></i></a></li>
							</ul>
							<div class="tg-userbox">
								<a id="tg-btnsignin" class="tg-btn" href="#"><span>sign in</span></a>
								<div class="dropdown tg-dropdown">
									<button class="tg-btndropdown" id="tg-dropdowndashboard" type="button" data-toggle="dropdown">
										<img src="~/images/author/img-01.jpg" alt="image description">
										<span>john smith</span>
										<i class="fa fa-caret-down"></i>
									</button>
									<ul class="dropdown-menu tg-dropdownusermenu" aria-labelledby="tg-dropdowndashboard">
										<li><a href="#">Dashboard</a></li>
										<li><a href="#">Edit Profile</a></li>
										<li><a href="javascript:void(0);">Sign Out</a></li>
									</ul>
								</div>
							</div>
						</div>

						<div>
							@await Html.PartialAsync("_NavigationMenu")
						</div>
					</div>
				</div>
			</div>
		</header>
		<!--************************************
				Header End
		*************************************-->

		<!--************************************
				Main Start
		*************************************-->

		<div class="container">
			<main role="main" id="tg-main" class="tg-main tg-haslayout">
				@RenderBody()
			</main>
		</div>

		<!--************************************
				Main End
		*************************************-->

		<!--************************************
				Footer Start
		*************************************-->
		<footer id="tg-footer" class="tg-footer tg-haslayout">
			<div class="tg-fourcolumns">
				<div class="container">
					<div class="row">
						<div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
							<div class="tg-footercolumn tg-widget tg-widgettext">
								<div class="tg-widgettitle">
									<h3>About Travlu</h3>
								</div>
								<div class="tg-widgetcontent">
									<div class="tg-description">
										<p>Nunc cursus liero purs ac cogue arcu cursus ut sed vitae pulvinar massaidp nequetiam lore elerisque</p>
									</div>
									<span>1-800-321-6543</span>
									<a href="mailto:info@travlu.com">info@travlu.com</a>
									<ul class="tg-socialicons tg-socialiconsvtwo">
										<li><a href="javascript:void(0);"><i class="icon-facebook-logo-outline"></i></a></li>
										<li><a href="javascript:void(0);"><i class="icon-instagram-social-outlined-logo"></i></a></li>
										<li><a href="javascript:void(0);"><i class="icon-twitter-social-outlined-logo"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
						<div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
							<div class="tg-footercolumn tg-widget tg-widgettravelunews">
								<div class="tg-widgettitle">
									<h3>Travelu News</h3>
								</div>
								<div class="tg-widgetcontent">
									<ul>
										<li>
											<figure>
												<a href="javascript:void(0);"><img src="images/thumbnail/img-01.jpg" alt="image destinations"></a>
											</figure>
											<div class="tg-newcontent">
												<h4><a href="javascript:void(0);">Bungee Jumping Trip</a></h4>
												<div class="tg-description">
													<p>Nunc cursus libero purus congue arcu vitae pulvinar</p>
												</div>
												<time datetime="2017-06-06">Feb 22, 2017</time>
											</div>
										</li>
										<li>
											<figure>
												<a href="javascript:void(0);"><img src="images/thumbnail/img-02.jpg" alt="image destinations"></a>
											</figure>
											<div class="tg-newcontent">
												<h4><a href="javascript:void(0);">Trip to White Castle</a></h4>
												<div class="tg-description">
													<p>Nunc cursus libero purus congue arcu vitae pulvinar</p>
												</div>
												<time datetime="2017-06-06">Feb 22, 2017</time>
											</div>
										</li>
									</ul>
								</div>
							</div>
						</div>
						<div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
							<div class="tg-footercolumn tg-widget tg-widgetdestinations">
								<div class="tg-widgettitle">
									<h3>Top Destinations</h3>
								</div>
								<div class="tg-widgetcontent">
									<ul>
										<li><a href="javascript:void(0);">Bayonne, Melbourne</a></li>
										<li><a href="javascript:void(0);">Greenville, New Jersey</a></li>
										<li><a href="javascript:void(0);">The Heights, London</a></li>
										<li><a href="javascript:void(0);">West Side, New York</a></li>
										<li><a href="javascript:void(0);">Upper East Side, New York</a></li>
									</ul>
								</div>
							</div>
						</div>
						<div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
							<div class="tg-footercolumn tg-widget tg-widgetnewsletter">
								<div class="tg-widgettitle">
									<h3>Newsletter</h3>
								</div>
								<div class="tg-widgetcontent">
									<div class="tg-description"><p>Sign up for our mailing list to get latest updates and offers</p></div>
									<form class="tg-formtheme tg-formnewsletter">
										<fieldset>
											<input type="email" name="email" class="form-control" placeholder="Your Email">
											<button type="submit"><img src="images/icons/icon-08.png" alt="image destinations"></button>
										</fieldset>
									</form>
									<span>We respect your privacy</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="tg-footerbar">
				<div class="container">
					<div class="row">
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<p>2024 - Bus Booking System</p>
						</div>
					</div>
				</div>
			</div>
		</footer>
		<!--************************************
				Footer End
		*************************************-->
	</div>
	<!--************************************
			Wrapper End
	*************************************-->

        <script src="~/js/vendor/jquery-library.js"></script>
        <script src="~/js/vendor/bootstrap.min.js"></script>
        <script src="~/js/bootstrap-select.min.js"></script>
        <script src="~/js/jquery-scrolltofixed.js"></script>
        <script src="~/js/owl.carousel.min.js"></script>
        <script src="~/js/jquery.mmenu.all.js"></script>
        <script src="~/js/packery.pkgd.min.js"></script>
        <script src="~/js/jquery.vide.min.js"></script>
        <script src="~/js/scrollbar.min.js"></script>
        <script src="~/js/prettyPhoto.js"></script>
        <script src="~/js/countdown.js"></script>
        <script src="~/js/parallax.js"></script>
        <script src="~/js/gmap3.js"></script>
        <script src="~/js/main.js"></script>
        @await RenderSectionAsync("Scripts", required: false)
    </body>
</html>