<nav id="tg-nav" class="tg-nav">
	<div class="navbar-header">
		<a href="#menu" class="navbar-toggle collapsed">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</a>
	</div>
	<div id="tg-navigation" class="collapse navbar-collapse tg-navigation">
		<ul>
			<li class="menu-item-has-children current-menu-item">
				<a href="javascript:void(0);">Home</a>
				<ul class="sub-menu">
					<li class="current-menu-item"><a href="index.html">Home</a></li>
				</ul>
			</li>
			<li><a href="destinations.html">destinations</a></li>
			<li class="menu-item-has-children menu-item-has-mega-menu">
				<a href="javascript:void(0);">listings</a>
				<div class="mega-menu">
					<ul>
						<li><a href="#">list style one</a></li>
					</ul>
					<div class="tg-sliderarea">
						<h2>Popular Tours</h2>
						<div class="tg-trendingtripsslider tg-trendingtrips owl-carousel">
							<div class="item tg-trendingtrip">
								<figure>
									<a href="javascript:void(0);">
										<img src="~/images/tours/img-05.jpg" alt="image destinations">
										<div class="tg-hover">
											<span class="tg-stars"><span></span></span>
											<span class="tg-tourduration">7 Days</span>
											<span class="tg-locationname">Paris</span>
											<div class="tg-pricearea">
												<span>from</span>
												<h4>$600</h4>
											</div>
										</div>
									</a>
								</figure>
							</div>
							<div class="item tg-trendingtrip">
								<figure>
									<a href="javascript:void(0);">
										<img src="~/images/tours/img-06.jpg" alt="image destinations">
										<div class="tg-hover">
											<span class="tg-stars"><span></span></span>
											<span class="tg-tourduration">7 Days</span>
											<span class="tg-locationname">Paris</span>
											<div class="tg-pricearea">
												<span>from</span>
												<h4>$600</h4>
											</div>
										</div>
									</a>
								</figure>
							</div>
							<div class="item tg-trendingtrip">
								<figure>
									<a href="javascript:void(0);">
										<img src="~/images/tours/img-07.jpg" alt="image destinations">
										<div class="tg-hover">
											<span class="tg-stars"><span></span></span>
											<span class="tg-tourduration">7 Days</span>
											<span class="tg-locationname">Paris</span>
											<div class="tg-pricearea">
												<span>from</span>
												<h4>$600</h4>
											</div>
										</div>
									</a>
								</figure>
							</div>
							<div class="item tg-trendingtrip">
								<figure>
									<a href="javascript:void(0);">
										<img src="~/images/tours/img-08.jpg" alt="image destinations">
										<div class="tg-hover">
											<span class="tg-stars"><span></span></span>
											<span class="tg-tourduration">7 Days</span>
											<span class="tg-locationname">Paris</span>
											<div class="tg-pricearea">
												<span>from</span>
												<h4>$600</h4>
											</div>
										</div>
									</a>
								</figure>
							</div>
						</div>
					</div>
				</div>
			</li>
			<li class="menu-item-has-children">
				<a href="javascript:void(0);">pages</a>
				<ul class="sub-menu">
					<li><a href="#">Contact us</a></li>
					<li class="menu-item-has-children">
						<a href="javascript:void(0);">Tours</a>
					</li>
				</ul>
			</li>
		</ul>
	</div>
</nav>